# Functions

### 7.2 Numeric and Numbers Representation

In [3]:
import pandas as pd
import numpy as np
import math as mt

#### 7.2.1 ceil()

In [3]:
mt.ceil(4)

4

In [4]:
mt.ceil(4.1)

5

#### 7.2.2 fabs()

In [7]:
mt.fabs(-4.7)

4.7

In [8]:
mt.fabs(4)

4.0

#### 7.2.3 factorial()

In [9]:
mt.factorial(3)

6

In [10]:
mt.factorial(3.1)

ValueError: factorial() only accepts integral values

#### 7.2.4 floor()

In [6]:
mt.floor(3)

3

In [7]:
mt.floor(3.9)

3

#### 7.2.5 comb()

In [11]:
footballs = 4
bags = 2

In [ ]:
mt.comb(footballs, bags)

#### 7.2.6 fmod()

In [15]:
# Return the remainder of 3/2
mt.fmod(3,2)

1.0

In [16]:
# Return the remainder of 10/2
mt.fmod(10,2)

0.0

In [17]:
# Return the remainder of 10/2
mt.fmod(-10,4)

-2.0

#### 7.2.7 fsum()

In [19]:
# Print the sum of all items
mt.fsum([1,2,3,4,5])

15.0

In [20]:
# Print the sum of all items
mt.fsum([1.7,2,3.5,4.2])

11.4

#### 7.2.8 gcd()

In [21]:
#find the greatest common divisor of the two integers
print(mt. gcd(3,30))
print (mt.gcd(0, 0))
print (mt.gcd(-12, -36))

3
0
12

#### 7.2.9 isclose()

In [23]:
#compare the closeness of two values
print(mt.isclose(1.233, 1.4566))
print(mt.isclose(1.233, 1.233))

False
True

In [24]:
#compare the closeness of two values
print(mt.isclose(8.005, 8.450, rel_tol = 0.5))
print(mt.isclose(8.005, 8.450, abs_tol = 0.4))

True
False

#### 7.2.10 isfinite()

In [26]:
# Check whether the values are finite or not
print(mt.isfinite(-45.34))
print(mt.isfinite(+45.34))
print(mt.isfinite(mt.inf))
print(mt.isfinite(float("nan")))

True
True
False
False

#### 7.2.11 isinf()

In [29]:
# Check whether the values are infinite or not
print(mt.isinf(-45.34))
print(mt.isinf(+45.34))
print(mt.isinf(mt.inf))
print (mt.isinf (float("inf")))

False
False
True
True

#### 7.2.12 isnan()

In [30]:
# Check whether the values are NaN or not
print (mt.isnan (-45.34))
print (mt.isnan (+45.34))
print (mt.isnan (float("nan")))
print (mt.isnan (float("-inf")))
print (mt.isnan (mt.nan))

False
False
True
False
True

#### 7.2.13 ldexp()

In [42]:
#Return value of x * (2**y)
print(mt.ldexp(9, 5))
print(mt.ldexp(-5, -2))
print(mt.ldexp(-15, 2))

288.0
-1.25
-60.0

#### 7.2.14 remainder()

In [48]:
# Return the remainder of x/y
print (mt.remainder(9, 2))
print (mt.remainder(9, 3))
print (mt.remainder(-18, 4))

1.0
0.0
-2.0

#### 7.2.15 trunc()

In [50]:
# Returns the truncated integer parts 
print(mt.trunc(2.77))
print(mt.trunc(8.32))
print(mt.trunc(-99.29))

2
8
-99

### 7.3 Power and Logarithmic functions

#### 7.3.1 exp()

In [14]:
#find the exponential of the value
print(mt.exp(65))
print(mt.exp(-6.89))

1.6948892444103338e+28
0.0010179138409954387

#### 7.3.2 log()

In [15]:
# Return the natural logarithm of numbers
print(mt.log(2.7183))
print(mt.log(2))
print(mt.log(1))

1.0000066849139877
0.6931471805599453
0.0

#### 7.3.3 log2()

In [16]:
# Return the base-2 logarithm of numbers
print(mt.log2(2.7183))
print(mt.log2(2))
print(mt.log2(1))

1.4427046851812222
1.0
0.0

#### 7.3.4 log10()

In [17]:
# Return the base-10 logarithm of numbers
print(mt.log10(2.7183))
print(mt.log10(2))
print(mt.log10(1))

0.43429738512450866
0.3010299956639812
0.0

#### 7.3.5 pow()

In [18]:
#Return the value of 5 raised to the power of 3
print(mt.pow(5, 3))

125.0

#### 7.3.6 sqrt()

In [19]:
# Return the square root of different numbers
print (mt.sqrt(2))
print (mt.sqrt(9))
print (mt.sqrt(6))

1.4142135623730951
3.0
2.449489742783178

### 7.4 Trigonometric Functions

#### 7.4.1 acos()

In [20]:
# Return the arc cosine of numbers
print(mt.acos(0.55))
print(mt.acos(-0.55))
print(mt.acos(0))
print(mt.acos(1))

0.9884320889261531
2.15316056466364
1.5707963267948966
0.0

#### 7.4.2 asin()

In [21]:
# Return the arc sine of numbers
print(mt.asin(0.55))
print(mt.asin(-0.55))
print(mt.asin(0))
print(mt.asin(1))

0.5823642378687435
-0.5823642378687435
0.0
1.5707963267948966

#### 7.4.3 atan()

In [22]:
#Return the arc tangent of  numbers
print (mt.atan(0.39))
print (mt.atan(67))
print (mt.atan(-21))

0.37185607384858127
1.5558720618048116
-1.5232132235179132

#### 7.4.4 cos()

In [23]:
# Return the cosine of numbers
print(mt.cos(0.55))
print(mt.cos(-0.55))
print(mt.cos(0))
print(mt.cos(1))

0.8525245220595057
0.8525245220595057
1.0
0.5403023058681398

#### 7.4.5 sin()

In [24]:
# Return the sine of numbers
print(mt.sin(0.55))
print(mt.sin(-0.55))
print(mt.sin(0))
print(mt.sin(1))

0.5226872289306592
-0.5226872289306592
0.0
0.8414709848078965

#### 7.4.6 tan()

In [25]:
#Return the tangent of  numbers
print (mt.tan(0.39))
print (mt.tan(67))
print (mt.tan(-21))

0.4110549151522136
1.6523172640102353
1.5274985276366035

### 7.5 Angular Conversion Functions

#### 7.5.1 degrees()

In [26]:
# Convert from radians to degrees
print (mt.degrees(6.90))
print (mt.degrees(-80))
print (mt.degrees(1))
print (mt.degrees(90))

395.34087864026804
-4583.662361046586
57.29577951308232
5156.620156177409

#### 7.5.2 radians()

In [27]:
# Convert different degrees into radians
print(mt.radians(120))
print(mt.radians(100.03))
print(mt.radians(-50))

2.0943951023931953
1.7458528507699278
-0.8726646259971648

### 7.6 Hyperbolic Functions

#### 7.6.1 acosh()

In [28]:
# Return the inverse hyperbolic cosine value
print (mt.acosh(9))
print (mt.acosh(54))
print (mt.acosh(7.45))
print (mt.acosh(1))

2.8872709503576206
4.68204548221464
2.6968261699728426
0.0

#### 7.6.2 asinh()

In [29]:
# Return the inverse hyperbolic sine value
print (mt.asinh(9))
print (mt.asinh(54))
print (mt.asinh(7.45))
print (mt.asinh(1))

2.8934439858858716
4.6822169499829025
2.7058353825261974
0.8813735870195429

#### 7.6.3 atanh()

In [30]:
# Return the inverse hyperbolic tan value
print (mt.atanh(0.254))
print (mt.atanh(-0.543))

0.25968406049455256
-0.6084002307344781

#### 7.6.4 cosh()

In [31]:
# Return the hyperbolic cosine value
print (mt.cosh(9))
print (mt.cosh(54))
print (mt.cosh(7.45))
print (mt.cosh(1))

4051.542025492594
1.415376651637347e+23
859.9318634087674
1.5430806348152437

#### 7.6.5 sinh()

In [32]:
# Return the hyperbolic sine value
print (mt.sinh(9))
print (mt.sinh(54))
print (mt.sinh(7.45))
print (mt.sinh(1))

4051.54190208279
1.415376651637347e+23
859.9312819671552
1.1752011936438014

#### 7.6.6 tanh()

In [33]:
# Return the hyperbolic tan value
print (mt.tanh(0.254))
print (mt.tanh(-0.543))

0.24867502175500816
-0.4952554948745349

### 7.7 Special Functions

#### 7.7.1 erf()

In [52]:
# Print error function for different numbers
print (mt.erf(0.67))
print (mt.erf(1.34))
print (mt.erf(-6))

0.6566277023003051
0.9419137152583654
-1.0

#### 7.7.2 erfc()

In [35]:
# Print complementary error function 
print (mt.erfc(0.67))
print (mt.erfc(+2.79))
print (mt.erfc(-6))

0.3433722976996949
7.958185250532775e-05
2.0

#### 7.7.3 gamma()

In [56]:
# Return the gamma function 
print(mt.gamma(8))
print(mt.gamma(1.2))
print(mt.gamma(80))

5040.0
0.9181687423997604
8.946182130782976e+116

#### 7.7.4 lgamma()

In [57]:
# Return the log gamma value 
print (mt.lgamma(-7.28))
print (mt.lgamma(4))
print (mt.lgamma(+6.58))

-7.689268043425326
1.7917594692280554
5.806524738100762